.content {
  /* background: var(--main-bg-color); */
  /* background-image: linear-gradient(to bottom right, var(--main-navbar-color) , var(--main-bg-color)); */
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
}

p, h1 {
  color: var(--content-text-color);
  font-family: var(--nav-font);
}

span {
  color: var(--content-highlight);
  padding-left: 10px;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 20px;
}
@media (max-width:900px) {
  .content {
    height: calc(100vh - 300px);
    overflow-y: auto;
  }

  ::-webkit-scrollbar {
    display: none;
}
}