.content {
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48rem;
  /* max-height: calc(100vh - 200px); */
  overflow-y: auto;
  position: relative;
}

p, h1 {
  color: var(--content-text-color);
  font-family: var(--nav-font);
}

span {
  color: var(--content-highlight);
  padding-left: 10px;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 18px;
}
@media (max-width:900px) {
  .content {
    overflow-y: auto;
    height: calc(100vh - 300px);
    display: block;
    padding: 1px;
  }

  ::-webkit-scrollbar {
    display: none;
}
}