.nav {
  display:flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  width: 50rem;
  position: fixed;
  border-bottom: 2px solid orange;
  background: var(--main-navbar-color);
  /* padding-top: 20px; */

}

.nav a{
  font-family: var(--nav-font);
}
.title {
  height: 10%;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  /* font-family:"Open Sans", sans-serif; */
  font-family: var(--nav-font);
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: var(--navbar-text-color);
  text-shadow: 5px 3px var(--content-highlight); */
  color: var(--content-highlight);
  padding-bottom: 20px;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: var(--navbar-text-color);
  width: 100%;
  height: 10%;
  background: var(--main-navbar-color);
  transition: background 0.5s ease-in-out;
  font-family:"Open Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  -webkit-user-drag: none;
  /* for linkedin and github icons */
  justify-content: center;
  align-items: center;
}

a:hover {
  /* background: var(--navbar-hover-color); */
  border-bottom: 2px solid var(--navbar-hover-color);
}

.icon {
  width: 10%;
}

@media (max-width:900px) {
  .nav {
    padding-top: 0px;
    flex-direction: column;
    height: auto;
    border-bottom: 2px solid orange;
    border-right: 0;
    width: 100%;
  }

  a {
    height: auto;
  }

  .icon {
    width: 20px;
  }
}