:root {
    --border: 3px;
    --from: 30deg;
    --distance: 46%;
}

.resume-header {
    color: var(--content-highlight);
    text-align: center;
}

.education-block {
    display:flex;
}

.education-picture {
    width:10rem;
    height:10rem;
}

.education-title {
    font-size: 25px;
}

.education-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-wrap {
    position: relative;
    padding: 30px;
    margin-right: 20px;
  }
  .img-wrap::after {
    content: '';
    border-radius: 999px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: conic-gradient(
      from var(--from),
      orange,
      var(--content-highlight) var(--distance),
      transparent var(--distance)
    );
    -webkit-mask: radial-gradient(
      farthest-side,
      transparent calc(100% - var(--border)),
      #fff calc(100% - var(--border) + 1px)
    );
    mask: radial-gradient(
      farthest-side,
      transparent calc(100% - var(--border)),
      #fff calc(100% - var(--border) + 1px)
    );
  }